* {
  font-family: "halyard-text", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1;
}
body {
  background-color: #a5e5ff;
  background-position: 1000 1000px;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  color: white;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size: 24px;
  color: white;
}
h3 {
  font-weight: normal;
  font-size: 16px;
  color: white;
}

a {
  font-family: "halyard-text", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* 
  
  
  nav
  
  
  */

nav {
  max-width: 1200px;
  width: 100%;
  position: fixed;
  z-index: 20;
}

.nav__links {
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
}

.nav__link {
  background-color: black;
  border-radius: 0 0 10px 10px;
  margin: 0 10px;
  max-height: 65px;
}
.nav__link--logo {
  background-color: black;
  border-radius: 0 0 10px 10px;
  margin: 0 10px;
}

.nav__link--logo:hover .nav__logo {
  content: url(./assets/m2\ logo\ white.png);
}

.nav__link--wrapper {
  background-color: black;
  border: white 3px solid;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.nav__link--wrapper--logo {
  background-color: black;
  border: white 3px solid;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.nav__link--wrapper:hover {
  box-shadow: 0 0 10px 3px rgb(255, 255, 255);
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ffffff;
  color: #ffffff;
}

.nav__logo {
  max-width: 100px;
}

/* 
  
  
form

  
*/

form {
  color: white;
}

#form__container {
  height: 100%;
  width: 100%;
  max-width: 85vw;
  margin: 150px auto;
  background-color: black;
  padding: 24px;
  border-radius: 20px;
}

.form__wrapper {
  border: white 5px solid;
  height: 100%;
  padding: 24px;
  border-radius: 20px;
}

section {
  padding: 56px;
}

.section-outline {
  border: white 5px solid;
  margin: 32px;
  border-radius: 20px;
}

.form-section-title {
  margin-bottom: 24px;
}

.form-field-section {
  padding: 16px;
}

.row {
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-4 {
  display: flex;
  justify-content: space-between;
}
.col-i {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.col-9 {
  display: flex;
  max-height: 100%;
}

input {
  background-color: black;
  border: white 3px solid;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 8px;
  color: white;
  outline: white;
  transition: all 200ms ease;
}

input::placeholder {
  color: #cacaca;
}

input:focus {
  box-shadow: 0 0 5px 3px rgb(255, 255, 255);
}

label {
  margin-right: 8px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png)
    no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

.submit__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit__btn {
  height: 75px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 16px;
  line-height: 0.7;

}

.submit__btn--contact {
    scale: 0.8;
    margin-bottom: 0;
    margin-top: 16px;
}

.submit__btn:hover {
  scale: 1.01;
  text-shadow: rgb(216, 247, 255) 1px 0 10px;
  box-shadow: rgb(216, 247, 255) 1px 0 10px;
  background-color: #40aa3e;

}

/* 



contact us



*/

#borm {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.borm__container {
  background-color: black;
  padding: 24px;
  border-radius: 20px;
  display: flex;
}

.borm__wrapper {
  background-color: black;
  border: white 5px solid;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.borm__title {
  color: #40aa3e;
}

#text-form {
  color: white;
  width: 70%;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.down {
    font-size: 32px;
    color: black;
    position: absolute;
    top: 90vh;
    left: 50%;
    animation: arrow 1s infinite alternate-reverse;
    z-index: 2;
    rotate: 90deg;
    transition: all 100ms ease-in-out;
    text-shadow: rgb(216, 247, 255) 1px 0 10px;
  }
  
  .down:hover {
    scale: 1.1;
  }
  
  @keyframes arrow {
    0% {
      transform: translateX(10px);
    }
  
    100% {
      transform: translateX(0px);
    }
  }

  .input__info {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-bottom: 8px;
  }

  textarea {
    background-color: black;
    border: white 3px solid;
    border-radius: 10px;
    color: white;
    padding: 16px;
    outline: none;
    transition: all 200ms ease;
  }

  textarea:focus {
    box-shadow: 0 0 5px 3px rgb(255, 255, 255);
  }



/* 


Footer



*/

footer {
  height: 200px;
  padding: 24px;
  padding-bottom: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
}

.footer__link {
  list-style: none;
  padding: 8px;
  border: white 3px solid;
  max-height: 50px;
  border-radius: 10px;
  transition: all 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link:hover {
  scale: 1.1;
  text-shadow: rgb(216, 247, 255) 1px 0 10px;
  box-shadow: rgb(216, 247, 255) 1px 0 10px;
}

.footer__logo {
  max-height: min-content;
}

.footer__logo:hover .footer__logo--img {
  content: url(./assets/m2\ logo\ white.png);
}

.footer__logo--img {
  height: 50px;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  color: #889dc5;
  background-color: black;
  height: 100%;
  margin-top: 16px;
}
.footer__copyright--link {
  margin-top: 8px;
  color: #889dc5;
  font-size: 12px;
}


@media (max-width: 800px) {
    nav {
        scale: 0.7;
        top: -15px;
        left: -15%;
      }
}

@media (max-width: 600px) {
  .section-outline {
    padding: 0;
  }
  input,
  label {
    scale: 0.8;
  }

  .col-9 {
    flex-direction: column;
  }
  .col-4 {
    justify-content: center;
    flex-direction: column;
  }

  .form__wrapper {
    padding: 0;
  }

  .footer__links {
    scale: 0.7;
  }

}

@media (max-height: 800px) {
    .borm__container {
        scale: 0.7;
    }
    
}
@media (max-height: 500px) {
    .borm__container {
        scale: 0.5;
    }
    
}
