* {
  font-family: "halyard-text", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1;
}
body {
  background-color: #a5e5ff;
  background-position: 1000 1000px;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  color: white;
}
h2 {
  font-weight: bold;
  font-size: 24px;
  color: white;
}
h3 {
  font-weight: normal;
  font-size: 16px;
  color: white;
}

a {
  font-family: "halyard-text", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* 


nav


*/

nav {
  max-width: 1200px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav__links {
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
}

.nav__link {
  background-color: #042e7b;
  border-radius: 0 0 10px 10px;
  margin: 0 10px;
  max-height: 65px;
}
.nav__link--logo {
  background-color: #042e7b;
  border-radius: 0 0 10px 10px;
  margin: 0 10px;
}

.nav__link--logo:hover .nav__logo {
  content: url(./assets/m2\ logo\ white.png);
}

.nav__link--wrapper {
  background-color: #042e7b;
  border: white 3px solid;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.nav__link--wrapper--logo {
  background-color: #042e7b;
  border: white 3px solid;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.nav__link--wrapper:hover {
  box-shadow: 0 0 10px 3px rgb(255, 255, 255);
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ffffff;
  color: #ffffff;
}

.nav__logo {
  max-width: 100px;
}

/* 


plane 


*/

#plane {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  translate: 1000px -1000px;
  z-index: 10;
}

.scale__plane {
  scale: 1.4;
}

.scale__plane #plane__stores {
  max-width: 55vw;
  justify-content: center;
}

.plane__img {
  max-width: 98vw;
  overflow: hidden;
}

#plane__stores {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 65vw;
  position: absolute;
  top: 43%;
  left: 15%;
  transition: all 500ms ease;
}

.plane__store {
  max-height: 125px;
  overflow: hidden;
  border: 5px solid #9fa0b1;
  border-radius: 50px;
  transition: all 300ms ease;
}

.store__name {
  color: #042e7b;
  font-weight: bold;
  font-size: 24px;
}
.store__apply {
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 8px;
  background-color: #042e7b;
  border-radius: 10px;
  height: 50px;
  transition: all 200ms ease;
}

.store__apply--link {
  border: white 3px solid;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.store__apply:hover {
  text-shadow: rgb(216, 247, 255) 1px 0 10px;
  scale: 1.1;

}
.store__apply:hover .store__apply--link {
  box-shadow: rgb(216, 247, 255) 1px 0 10px;

}


.store__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 32px;
  text-align: left;
}

.plane__store:hover {
  scale: 1.1;
}

.hide__plane {
  translate: 0px 0px !important;
  overflow: hidden;
}

.hide__stores {
  opacity: 0;
}

/* 


Header



*/

#header {
  position: absolute;
  top: 50vh;
  left: 50%;
  translate: -50% -50%;
  background-color: #042e7b;
  padding: 24px;
  border-radius: 25px;
  opacity: 1;
  transition: all 700ms ease;
  min-width: 60vw;
  z-index: 1;
}

.hide__header {
  visibility: hidden !important;
  translate: -50% 100% !important;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #042e7b;
  color: white;
  padding: 24px;
  border: white 5px solid;
  border-radius: 25px;
}




.header__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: center;
}

.header__subtitle {
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
}

.header__sign--logo {
  max-width: 200px;
}

.header__sign--logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dfw:hover {
  content: url(./assets/dfw\ logo\ glow.png);
}
.iah:hover {
  content: url(./assets/iah\ logo\ glow.png);
}
.sat:hover {
  content: url(./assets/sat\ logo\ glow.png);
}

.header__sign {
  display: flex;
  justify-content: center;
}

#bg__img {
  position: absolute;
  top: -50%;
  max-height: 100vh;
  z-index: -3;
  transition: all 700ms ease;
}

.move__bg {
  translate: 0 60vh;
}

/* 


plane icon


*/

.down {
  font-size: 24px;
  color: #042e7b;
  position: absolute;
  top: 87vh;
  left: 50%;
  animation: arrow 1s infinite alternate-reverse;
  z-index: 2;
  rotate: 90deg;
  transition: all 100ms ease-in-out;
  text-shadow: rgb(216, 247, 255) 1px 0 10px;
}

.down:hover {
  scale: 1.1;
}

@keyframes arrow {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* 

about us

*/

#about-us {
  background: rgb(165, 229, 255);
  background: linear-gradient(
    0deg,
    rgba(165, 229, 255, 1) 80%,
    rgba(193, 193, 194, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
}

.about-us__container {
  background-color: #042e7b;
  padding: 32px;
  display: flex;
  min-width: 70vw;
  border-radius: 25px;
  margin: 0 auto;
  max-height: 80vh;
  justify-content: space-around;
}

.about-us__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #042e7b;
  color: white;
  padding: 24px;
  border: white 5px solid;
  border-radius: 25px;
  max-width: 50vw;
  margin-right: 32px;
  position: relative;
}

.about-us__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: center;
}

.about-us__subtitle {
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
}

.headshots {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.headshot {
  max-height: 200px;
  transition: all 200ms ease;
}

.headshot:hover {
  scale: 1.1;
}

.headshot:active {
  scale: 0.9;
}

.leonard:hover {
  content: url(./assets/Leonard\ Mickens\ Headshot\ glow.png);
}
.ray:hover {
  content: url(./assets/Ray\ Mickens\ Headshot\ glow.png);
}

.role {
  font-size: 30px;
}

.back {
  font-size: 32px;
  color: white;
  position: absolute;
  top: 24px;
  left: 24px;
  transition: all 200ms ease;
}

.back:hover {
  scale: 1.2;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ffffff;
}

/* 

join us


*/

#join-us {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 90%,
    rgba(165, 229, 255, 1) 100%
  ); */
  background-color: #a5e5ff;
  box-sizing: content-box;
}

.section__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section__text {
  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70vw;
  margin: 56px;
  height: 70vh;
  background-color: #042e7b;
  padding: 24px;
  border-radius: 20px;
}

.section__wrapper {
  border: white 5px solid;
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
}

.section__title {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.section__subtitle {
  font-size: 24px;
  margin-top: 24px;
  font-weight: normal;
  margin-bottom: 10px;
  transition: all 200ms ease;

}

.subtitle__link {
  margin-top: 0;
}

.subtitle__link:hover {
  scale: 1.1;
  text-shadow: rgb(216, 247, 255) 1px 0 10px;

}

#highlight__section {
  height: 100vh;
  width: 100%;
  background-color: #a5e5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.highlight__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  height: 80vh;
  max-height: 100%;
  padding: 32px;
  position: relative;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
  max-width: 250px;
  max-height: 250px;
  background-color: #042e7b;
  padding: 12px;
  border-radius: 25px;
  margin: 20px 40px;
  transition: all 200ms ease;
}

.highlight:hover {
  scale: 1.25;
}

.highlight:hover .highlight__subtitle {
  opacity: 1;
}
.highlight:hover .highlight__title {
  translate: none;
}
.highlight:hover .highlight__container {
  box-shadow: 0 0 5px 3px rgb(255, 255, 255);
}

.highlight__container {
  background-color: #042e7b;
  border: white 5px solid;
  border-radius: 25px;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.highlight__anchor {
  height: 100%;
}

.highlight__subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: white;
  opacity: 0;
  transition: all 200ms ease;

}

.highlight__title {
  font-size: 24px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 8px;
  translate: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 200ms ease;


}

.career {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.career__down {
  font-size: 32px;
  color: #042e7b;
  position: absolute;
  bottom: 10%;
  left: 50%;
  animation: arrow 1s infinite alternate-reverse;
  z-index: 2;
  rotate: 90deg;
  transition: all 100ms ease-in-out;
  display: flex;
}

.career__down:hover {
  scale: 1.1;
  text-shadow: 0 0 5px 3px rgb(255, 255, 255);

}






/* 


Footer


 */



footer {
  height: 200px;
  padding: 24px;
  width: 100vw;
  padding-bottom: 0;
  background-color: #042e7b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
}

.footer__link {
  list-style: none;
  padding: 8px;
  border: white 3px solid;
  max-height: 50px;
  border-radius: 10px;
  transition: all 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link:hover {
  scale: 1.1;
  text-shadow: rgb(216, 247, 255) 1px 0 10px;
  box-shadow: rgb(216, 247, 255) 1px 0 10px;

}

.footer__logo {
  max-height: min-content;
}

.footer__logo:hover .footer__logo--img {
  content: url(./assets/m2\ logo\ white.png);
}

.footer__logo--img {
  height: 50px;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  color: #889dc5;
  background-color: #042e7b;
  height: 100%;
  margin-top: 16px;
  

}
.footer__copyright--link {
  margin-top: 8px;
  color: #889dc5;
  font-size: 12px;
}
/* 

responsive

*/

@media (max-width: 3000px) {
  #header, #about-us {
    scale: 1.2;
  }

  .down {
    translate: 0 -50px;
  }

  .section__container {
    height: 50vh;
    z-index: 20;
  }

  #highlight__wrapper {
    min-height: 50vh;
  }

  .career__down {
    bottom: 0;
  }

}

@media (max-width: 2000px) {
  #header, #about-us {
    scale: 1;
  }

  .down {
    translate: none;
  }
  .section__container {
    height: 100vh;
    z-index: 20;
  }

  #highlight__wrapper {
    min-height: 100vh;
  }

  .career__down {
    bottom:10%;
  }
}

@media (max-width: 1500px) {
  .header__subtitle {
    font-size: 20px;
  }

  .plane__store {
    max-height: 100px;
  }

  .header__sign--logo {
    max-width: 150px;
  }
}

@media (max-width: 1200px) {
  #header {
    scale: 0.9;
  }
  .about-us__container,
  span {
    scale: 0.9;
  }

  .highlight {
    margin: 10px 20px;
  }
}

@media (max-width: 800px) {
  #header {
    scale: 0.6;
  }
  .about-us__container {
    scale: 0.8;
  }

  .about-us__title,
  span {
    font-size: 20px;
  }

  .about-us__subtitle {
    font-size: 12px;
  }

  .header__title {
    margin-bottom: 16px;
  }

  nav {
    scale: 0.7;
    top: -15px;
  }

  .container {
    display: flex;
    margin: 0 auto;
  }

  .nav__link {
    max-height: 75px;
  }

  .nav__links {
    display: flex;
    justify-content: center;
  }

  .plane__store {
    border-width: 2px;
    max-height: 60px;
  }
}

@media (max-width: 900px) {
  .highlight__subtitle {
    font-size: 10px;
  }
  .section__text {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .plane__store {
    max-height: 45px;
  }

  #plane__stores {
    top: 46%;
  }
  .headshot {
    scale: 0.5;
  }
  .headshots {
    max-width: 30%;
  }

  .about-us__subtitle, .section__subtitle {
    font-size: 12px !important;
  }
  .about-us__text {
    max-width: 70%;
  }

  #highlight__section {
    height: 1600px;
    display: flex;
    align-items: start;
  }

  #highlight__wrapper {
    padding: 0;
  }

  .highlight {
    margin: 0;
    width: 100%;
    margin-bottom: 24px;
  }

  .highlight__title {
    translate: 0;
  }

  #plane__stores {
    top: 47%;
  }

  .store__apply {
    width: fit-content;
    height: fit-content;
    padding: 2px;
  }

  .store__apply--link {
    font-size: 10px;
    padding: 4px;
    width: fit-content;
    height: fit-content;
  }

}


@media (max-height: 1000px) {
  #bg__img {
    top: 0%;
    max-height: 100vh;
  }

  .section__title {
    font-size: 32px;
  }
  .section__subtitle {
    font-size: 24px;
  }

  .career__down {
    translate: 0 20px;
  }
}
@media (max-height: 800px) {
  
  .section__title, .about-us__title {
    font-size: 32px;
  }
  .section__subtitle, .about-us__subtitle {
    font-size: 18px;
  }

  .career__down {
    translate: 0 20px;
  }

  .highlight {
    margin: 16px;
  }
  
  #highlight__wrapper {
    padding: 50px;
  }

}

@media (max-width: 730px) {
  .about-us__subtitle {
    font-size: 10px;
  }
  
}

@media (max-height: 700px) {
  #header {
    min-width: 80vw;
    padding: 16px;
    scale: 0.6;
  }
  .about-us__container,
  span {
    min-height: none;
    padding: 16px;
    scale: 0.8;
  }

  .about-us__title,
  span {
    font-size: 24px;
  }

  .about-us__subtitle {
    font-size: 16px;
  }

  .header__title {
    margin-bottom: 16px;
  }

  .plane__store {
    max-height: 75px;
    border-width: 3px;
  }

  #bg__img {
    max-width: none;
    max-height: 100vh;
    top: 2%;
  }

  
}

@media (max-height: 600px) {
  nav {
    scale: 0.8;
    top: -15px;
  }

  .about-us__container,
  span {
    scale: 0.7;
  }

  .about-us__title,
  span {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .about-us__subtitle {
    font-size: 12px;
  }

  .headshot {
    max-height: 150px;
  }

  .section__title {
    font-size: 20px;
    margin: 0;
  }
  .section__subtitle {
    font-size: 12px;
    margin: 0;
  }

  .career__down {
    translate: 0 10px;
    font-size: 10px;
  }
}