* {
  font-family: "halyard-text", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  color: #002c30;
}
h2 {
  font-weight: bold;
  font-size: 24px;
  color: #002c30;
}
h3 {
  font-weight: 400;
  font-size: 16px;
  color: #002c30;
}

a {
  font-family: "halyard-text", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;
  color: #bcffdb;
}

ul {
  display: flex;
}

/* 


NAV


*/

.row {
  height: 250px;
  background-color: #042e7b;
  padding: 7px;
  display: flex;
  align-items: end;
  border-radius: 25%;
}

.contain {
  height: 70px;
  width: 100%;
  min-width: 100px;
  border: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: #042e7b;
  font-weight: bold;
}

.row:hover .contain {
  box-shadow: 0 0 10px 3px rgb(255, 255, 255);
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ffffff;
  color: #ffffff;
}

nav {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__links {
  display: flex;
  position: fixed;
  left: 2%;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin: 18px;
  margin-bottom: 50px;
  z-index: 10;
}

.nav__link {
  font-weight: 700;
  font-size: 20px;
  height: 150px;
  border-radius: 10px;
  background-color: #042e7b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  translate: 0 -80px;
  transition: all 100ms ease;
}

.nav__link:hover {
  scale: 1.1;
  transition: all 100ms ease;
}

.nav__logo {
  margin: 36px;
  height: 150px;
  border-radius: 10px;
  /* background-color: #e1e1ff;
    color: #E7FFF2; */
  padding: 40px 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  translate: 0 5px;
  transition: all 300ms ease;
  transform-origin: top;
  margin: 20px;
  /* border: orange 5px solid; */
}

.nav__logo:hover {
  translate: 0 0px;
  scale: 1.1;
  /* border: orange 2px solid; */
  /* box-shadow: 0 0 10px 5px orange; */
  content: url(./assets/m2\ logo\ white.png);
  cursor: pointer;
}

.logo__container {
  /* background-color: #e1e1ff; */
  border-radius: 10px;
  height: 200px;
  translate: 0 -60px;
  display: flex;
  justify-content: center;
  align-items: end;
}

/* 


HEADER


*/

.background__img {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#home {
  display: flex;
  flex-direction: row;
  height: 95vh;
  transition: all 1000ms ease;
  /* background-image: url(./assets/background\ img.png); */
}

.hide {
  translate: 0 95%;
  opacity: 0;
}

.header__text {
  padding: 30px 56px 56px 56px;
  border: white 10px solid;
  max-height: 50vh;
  max-width: 70vw;
  background-color: #053ca0;
  border-radius: 25px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 200px;
}

body {
  background-size: 95vw;
  background-color: #89daff;
  background-position: 1000 1000px;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px;
  background-color: #053ca0;
  border-radius: 0 25px 25px 0px;
  translate: -110px 0px;
  position: absolute;
  opacity: 1;
}

.header__container {
  translate: -100px 0;
}

.header__title {
  color: white;
  text-align: center;
  margin-bottom: 56px;
  /* text-shadow: 2px 2px 30px rgb(0, 0, 0, 0.8); */
}

.header__subtitle {
  color: white;
  font-weight: 100;
  text-align: center;
  /* text-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px; */
  margin-bottom: 750px;
  line-height: 1.2;
}

.down {
  font-size: 40px;
  color: #042e7b;
  position: absolute;
  left: 50%;
  bottom: 5%;
  animation: arrow 1s infinite alternate-reverse;
  z-index: 2;
  rotate: 90deg;
  transition: all 300ms ease-in-out;
}

.down:hover {
  scale: 1.1;
  text-shadow: 1px 1px 7px rgb(155, 202, 255), 1px 1px 7px rgb(170, 209, 255);
  color: #042e7b;
}

.header__sign {
  position: fixed;
  max-width: 500px;
  z-index: 2;
  bottom: -10%;
  right: 0%;
}

.header__sign--img {
  min-height: 90vh;
  translate: 0 -70px;
  margin-top: 36px;
}

.dfw:hover {
  content: url(./assets/dfw\ logo\ glow.png);
}
.iah:hover {
  content: url(./assets/iah\ logo\ glow.png);
}
.sat:hover {
  content: url(./assets/sat\ logo\ glow.png);
}

.header__sign--text {
  z-index: 2;
  position: absolute;
  top: -3%;
  left: 5%;
  font-size: 160px;
  color: #e1e1ff;
}

.header__sign--logos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 35%;
  left: 10%;
  height: 400px;
}

.header__sign--logo {
  width: 60%;
  margin-bottom: 25px;
}

@keyframes arrow {
  0% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* 



stores



*/

#plane__container {
  max-width: 100vw;
  position: absolute;
  transition: all 1000ms ease 500ms;
  top: -700px;
  left: 0%;
}

.hide__plane {
  translate: 350px 700px;
}

.hide__plane #plane__img {
  scale: 2;
}

#plane__img {
  position: absolute;
  width: 70vw;
  translate: 1780px -25px;
  transition: all 1000ms ease 500ms;
  overflow: hidden;
}

#plane__stores {
  position: absolute;
  display: flex;
  translate: 102% 300%;
  opacity: 1;
  z-index: 2;
  transform-origin: top;
}

.hide__stores {
  opacity: 0;
  transition: all 2500ms ease 500ms;
}

.plane__store {
  max-height: 130px;
  height: 100%;
  border: #b0b1c5 7px solid;
  border-radius: 40%;
  margin-right: 50px;
  transition: all 300ms ease;
}

.plane {
  display: flex;
  justify-content: end;
  opacity: 1;
  translate: -100px 0;
  animation: plane 1s ease-in-out infinite alternate-reverse;
}

.plane__store:hover {
  scale: 1.2;
}

@keyframes plane {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 1500px) {
  #plane__img {
    translate: 1300px 75px;
  }

  .plane__store {
    max-height: 100px;
    margin-right: 10px;
    translate: -20px 100px;
  }
}

@media (max-width: 1300px) {
  #plane__img {
    translate: 1100px 75px;
  }

  .plane__store {
    max-height: 90px;
    margin-right: 10px;
    translate: -100px 100px;
  }

  @media (max-width: 1100px) {
    #plane__img {
      translate: 825px 75px;
    }

    .plane__store {
      max-height: 63px;
      margin-right: 5px;
      translate: -125px 125px;
    }

    @media (max-height: 800px) {
      .header__sign {
        translate: 0 170px;
      }
    }
  }
}
